<ion-view view-title="{{ 'customers' | translate | capitalize }}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="customer in customers" href="#/app/customers/{{customer.id}}">
        #{{customer.id}} - {{ customer.firstName }} {{ customer.lastName }}
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-light">
    <div class="tabs tabs-icon-only">
      <a class="tab-item" href="#/app/customer/new">
        <i class="icon ion-plus-circled"></i>
      </a>
    </div>
  </div>
</ion-view>
